<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <p id="notice"><%= notice %></p>
    
    <div class="featured_slider">
      <h2 class="featured_title">Featured Videos</h2>
      <div class="slick_slider">
        <% @videos.each do |video| %>
          <div class="single_iteam">
            <%= link_to(image_tag(video.thumbnail, alt: video.title), video_path(video.id)) %>
            <h2><%= link_to(video.title, video_path(video.id), id: video.id, class:"slider_tittle") %></h2>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br/><br/><br/>